* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  font-size: 62.5%;
  background-color: wheat;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}